@import '@/gridMixins.scss';
@import '@/mainStylesVariables.scss';
#top_left_nav a:hover {
  text-decoration: none;
  color: #000;
}
#top_line >div{
  flex-grow: 0;
}

#top_line {
  height:40px;
  background: #fff;
  display: flex;
  align-items: center;
  >*{
    white-space: nowrap;
  }
  &:after {
    content: none;
  }
}
.free-shipping strong {
  color: #000;
}
#top_line .cart-summary{
  color: $main_brand_color;
}
#top_line .cart-total,
#top_line a{
  vertical-align: middle;
}
.header-mobile-email {
  margin-bottom: 10px
}
#top_left_nav  a {
  color: #666;
  cursor: pointer;
  padding: 7px $offset_40_half;
  position: relative;
}
#top_left_nav {
  margin: 0 0 0 auto;
  display: flex;
}
#top_left_nav li:first-child a {
  padding-left: 0px;
}
#top_left_nav a:after {
  background: #e1e1e1;
  width: 2px;
  height: 14px;
  content:'';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#top_line .user-btns-container {
  display: inline-flex;
  padding-left: $offset_40_half;
  margin: 0;
}
@media (max-width: 991px) {
  #top_line #top_search_mobile{
    display: block;
    transition: left 0.4s;
    padding: 60px 10px 20px;
    left:100%;
  }
  #top_line .user-btns-container {
    margin-left: auto;
  }
  #top_left_nav {
    display: none;
  }
}