/* СТИЛИ ДЛЯ ФИКСИРОВАННОГО ПРИ ПРОКРУТКЕ ХЕДЕРА*/
@keyframes slide-fixed-topline{
  0% {
  opacity: 0;
  top: -100%;
  }
  50% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@import '@/mainStylesVariables.scss';
/*!purgecss start ignore*/
.fixed-scrolled #toggleMenuButton{
  justify-content: flex-start;
  flex-basis: auto
}
.fixed-scrolled #headerLogoColumn {
  display: none
}
.fixed-scrolled#preMenuCategory .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
#preMenuCategory.fixed-scrolled {
  animation: slide-fixed-topline 0.3s ease-out;
  border-bottom: 1px solid #ccc;
  position:fixed;
  top: 0;
  width: 100%;
  padding: 0
}

.fixed-scrolled #toggleMenuButton .burger{
  display: flex;
  margin: 0 15px 0 0;
}
@media screen and (min-width:1200px) {
  
  .fixed-scrolled .top-search-wrap-block,
  .fixed-scrolled .show-category-heading{
    display: inline-block;
  }
  .fixed-scrolled #toggleMenuButton {
    width: 23%;
  }
}
@media screen and (max-width: 1199px) {
  .fixed-scrolled .phone-center {
    padding: 0 20px;
  }
  .fixed-scrolled .medium-header-search-bar {
    display: none;
  }
  .fixed-scrolled .top-search-wrap-block {
    display: inline-block;
    .icon-011-search {
      display: none !important;
    }
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .fixed-scrolled .medium-header-search-bar .cart-wrapp {
    display: inline-flex;
  }
  .fixed-scrolled .medium-header-search-bar {
    padding: 0;
    
    .input-group {
      box-shadow: none;
    }
  }
  .fixed-scrolled .medium-header-search-bar .burger:active,
  .fixed-scrolled .medium-header-search-bar .burger:hover {
    color:#000;
  }
  .fixed-scrolled .medium-header-search-bar .burger {
    display: inline-block;
    color: #fff;
    margin: 0 15px 0 0;
  }
  #preMenuCategory.fixed-scrolled {
    background: $main_brand_color;
  }
  .fixed-scrolled .icon-001-cart{
    color: #fff;
  }
  .fixed-scrolled .icon-cart-total-count {
    background: #333;
  }
  .fixed-scrolled .top_search button {
    border: none;
  }
  .fixed-scrolled {
    #top_categories {
      #secondLevelWrapper,
      #firstLevelWrapper {
        border-top: none;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .fixed-scrolled #header-phones-and-cart,
  .fixed-scrolled #toggleMenuButton {
    display: none;
  }
  .fixed-scrolled .medium-header-search-bar {
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .fixed-scrolled #headerLogoColumn,
  .fixed-scrolled #header-phones-and-cart,
  .fixed-scrolled #toggleMenuButton {
    display: inline-flex
  }
  .fixed-scrolled #toggleMenuButton .burger{
    display: none;
  }
}
/*!purgecss end ignore*/